:root{
    --color-de-fondo: #ffff;
    --color-de-link: #000;
    --color-de-boton: #2A7AE4;
    --color-de-seccion: #F9B17D;
    --color-de-fondo2: #cee5fffd;
}

body {
    box-sizing: border-box;
    background-color: var(--color-de-fondo);
    font-family: 'Raleway';
    margin: 0;
    padding: 0;
    line-height: 1;
    scroll-behavior: smooth;
}
ol, ul,li {
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--color-de-link);
}

/*Sección Menu*/

section.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    margin: 1rem 9rem;
}

ul.menu__list{
    display: flex;
    justify-content: center;
    gap: 2rem;
    font-size: 18px;
}

.logo{
    width: 25px;
    vertical-align: bottom;
}
/*Sección Title*/

section.title{
    display: flex;
    height: 85vh;
    justify-content:center;
    align-content: center;
}

.title__div{
    width: 80vw;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: row-reverse;
}

.title__profile{
    width: 30vw;
}

.title__bio{
    font-size: 52px;
    font-weight: bold;
    width: 40vw;
}

.name{
    color: var(--color-de-boton);
}

.title__subsection{
    font-size: 22px;
}

.title__network{
    display: flex;
    justify-content: flex-start;
    align-content: center;
    gap: 2rem;
    padding: 0;
}

.title__network__item a {
    font-size: 20px;
}

.title__network__item a img{
    vertical-align: bottom;
}


.hobbies__title, .skills__title, .academic__title, .experience__section__title, .contact__title{
    font-size: 2rem;
    padding: 2rem;
}

/*Sección About*/

section.about{
    width: 50vw;
    min-height: 40vh;
    margin: 1rem 9rem;
    vertical-align: middle ;
}

/*Sección Hobbies - Skills*/

section.hobbies, section.skills{
    text-align: center;
    width: 80%;
    margin: 0 auto;
    height: 70vh;
    padding-bottom: 2rem;
}


.hobbies__line, .skills__line{
    height: 40vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
    margin: 2rem 0;
}

.hobbies__list, .skills__list{
    background-color:var(--color-de-seccion);
    display: flex;
    flex-direction: column;
    min-width: 200px;
    height: 200px;
    align-items: center;
    justify-content: space-evenly;
    padding: 0;
    border-radius: 5%;
    box-shadow: 8px 8px 5px 0px rgba(3, 26, 56, 0.4);
}

.hobbies__img img, .skills__img img{
    width: 100px;
    justify-self: center;
}

/* Experiencia Académica*/

section.academic{
    text-align: center;
    margin: 0 auto;
    height: 100vh;
    padding: 5rem 0;
    background-color: var(--color-de-fondo2) ;
}

.academic__courses{
    display: flex;
    justify-content: center;
    margin: 3rem 0;
    gap: 1rem;
}

.academic__courses__box{
    background-color: #ffff;
    width: 18%;
    padding: 2rem;
    border-radius: 10px;
}

.academic__courses__list{
    padding: 0;
}

.academic__courses__item__img img{
    border-radius: 10px;
    width: 150px;
}

/* experiencia*/

section.experience{
    text-align: center;
    margin: 0 auto;
    padding-top: 5rem;
}

.experience__box{
    display: flex;
    justify-content: center;
    gap: 3rem;
    margin: 5rem;
    padding-left: 3rem;
    text-align: left;
}

.experience__info-container{
    width: 50%;
    align-self: center;
}

.experience__box__reverse{
    display: flex;
    justify-content: center;
    gap: 3rem;
    margin: 5rem;
    flex-direction: row-reverse;
    padding-right: 3rem;
    text-align: right;
}

.experience__img{
    max-width: 600px;
    border-radius: 5px;
    border: var(--color-de-boton) solid 1px;
}

.experience__description{
    display: inline-flex;
    gap: 1rem;
}

.experience__button-repo{
    display: inline-block;
    width: 100px;
    text-align: center;
    background-color: var(--color-de-fondo);
    color: var(--color-de-boton);
    border:solid var(--color-de-boton) 2px;
    padding: 1rem;
    border-radius: 5px;
    font-size: 18px ;
}

.experience__button-web{
    display: inline-block;
    width: 100px;
    text-align: center;
    background-color: var(--color-de-boton);
    color: var(--color-de-fondo);
    padding: 1rem;
    border: var(--color-de-boton);
    border-radius: 5px;
    font-size: 18px ;
}

.experience__button-repo:hover{
    background-color: var(--color-de-fondo2) ;
}

.experience__button-web:hover{
    background-color: #237ff8ea;
    color: var(--color-de-fondo2) ;
}

/*Contacto*/

section.contact{
    background-color: var(--color-de-fondo2) ;
    height: 110vh;
    padding-top: 5rem;
}

.contact__box{
    display: flex;
    padding: 2rem;
    justify-content: center;
    align-items: flex-start;
}

.contact__left{
    width: 40%;
}

.contact__img{
    width: 500px;
    margin: 2rem;
    border-radius: 5px;
}

.contact__text{
    width: 40%;
    margin: 1rem 2rem;
    text-align: left;
}

.contact__form{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.contact__title{
    padding: 0;
}

.contact__input{
    border: none;
    height: 45px;
    outline-style: none;
    border-radius: 5px;
}

.contact__input::placeholder{
    font-family: 'Raleway';
}

.contact__textarea {
    resize: none;
    border: none;
    outline-style: none;
    border-bottom: var(--color-de-boton) ;
    border-radius: 5px;
}

.contact__textarea::placeholder{
    font-family: 'Raleway';
    padding-top: 10px;
}

.contact__button{
    display: inline-block;
    width: 200px;
    text-align: center;
    background-color:  var(--color-de-boton);
    color: var(--color-de-fondo2);
    padding: 1rem;
    border-radius: 5px;
    font-size: 18px ;
    border: none;

}

.contact__button:hover{
    background-color: var(--color-de-fondo2) ;
    border: solid var(--color-de-boton) 1px;
    color: var(--color-de-boton);
}

/*footer*/

section.footer{
    display: flex;
    height: 30vh;
    justify-content: center;
    padding-bottom: 1rem;
}

.footer__social{
    margin-top: auto;
}

.footer__social a{
    margin: 1rem;
}

/* Vamos a desafiarnos trabajando con responsividad?
Utiliza las referencias de los breakpoints @media abajo */


/*Tablet*/
@media (min-width: 768px) {

/* Menú */

/*title*/

/*Skills*/

/*Hobbies*/

/*Formación Académica*/

/*Experiencia Profesional*/

}

/*Mobile*/
@media (min-width: 425px) {

/*Menu*/

/*Titulo*/

/*Sección sobre mi*/

/*Skills*/

/*Hobbies*/

/*Formación Académica*/

/*Experiencia Profesional*/

/*Contacto*/

/*Footer*/

}