:root{
    --color-de-fondo: #ffff;
    --color-de-link: #000;
    --color-de-boton: #2A7AE4;
    --color-de-seccion: #F9B17D;
    --color-de-fondo2: #cee5fffd;
    --color-de-alerta: #ce0000;
    --color-de-exito: #1ca00d;
}

* {
    scroll-behavior: smooth;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: var(--color-de-fondo);
    font-family: 'Raleway';
    line-height: 1;
    overflow-x: hidden;
}

ol, ul,li {
    list-style: none;
}

a{
    text-decoration: none;
    color: var(--color-de-link);
}

a:hover{
    font-weight: bolder;
    transition:.3s ease ease-in-out;
}


/*Sección Menu*/

section.menu{
    width: 80%;
    height: 8vh;
    padding: 1% 10%;
    background-color: var(--color-de-fondo);
    position: fixed;
    top: 0;
    z-index: 9999;
}

.menu__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul.menu__list{
    display: flex;
    justify-content: center;
    gap: 2rem;
    font-size: 18px;
}

.logo{
    width: 25px;
    vertical-align: bottom;
}

/*Sección Title*/

section.title{
    display: flex;
    height: 100vh;
    justify-content:center;
    align-items: center;
}

.title__div{
    width: 80vw;
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-direction: row-reverse;
}

.title__container{
    width: 60%;
}

.title__profile{
    width: 25vw;
}

.title__bio{
    font-size: 52px;
    font-weight: bold;
    width: 40vw;
}

.name{
    color: var(--color-de-boton);
}

.title__subsection{
    font-size: 22px;
}

.title__network{
    display: flex;
    justify-content: flex-start;
    gap: 2rem;
    padding: 0;
}

.title__network__item a {
    font-size: 20px;
}

.title__network__item a img{
    vertical-align: bottom;
}


.hobbies__title, .skills__title, .academic__title, .experience__section__title{
    font-size: 2rem;
    padding: 2rem;
}

/*Sección About*/

section.about{
    width: 60vw;
    min-height: 50vh;
    padding: 5% 10%;
    text-justify: balance;
}

/*Sección Hobbies - Skills*/

section.hobbies, section.skills{
    text-align: center;
    width: 80%;
    margin: 0 auto;
    height: 100vh;
    padding-top: 2rem;
}


.hobbies__line, .skills__line{
    height: 40vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 0.5rem;
    margin: 2rem 0;
}

.hobbies__list, .skills__list{
    background-color:var(--color-de-seccion);
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 200px;
    align-items: center;
    justify-content: space-evenly;
    padding: 0;
    border-radius: 5%;
    box-shadow: 8px 8px 5px 0px rgba(3, 26, 56, 0.4);
}

.hobbies__img img, .skills__img img{
    width: 100px;
    justify-self: center;
}

/* Experiencia Académica*/

section.academic{
    text-align: center;
    margin: 0 auto;
    height: 100vh;
    padding: 5rem 0;
    background-color: var(--color-de-fondo2) ;
}

.academic__courses{
    display: flex;
    justify-content: center;
    margin: 3rem 0;
    gap: 1rem;
}

.academic__courses__box{
    background-color: #ffff;
    width: 250px;
    padding: 2rem;
    border-radius: 10px;
}

.academic__courses__list{
    padding: 0;
}

.academic__courses__item__img img{
    border-radius: 10px;
    width: 150px;
}

/* experiencia*/

section.experience{
    display: flex;
    flex-direction: column;
    height: 400vh;
    text-align: center;
    padding: 5% 0;

}

.experience__box{
    display: flex;
    justify-content: center;
    gap: 3.5rem;
    padding: 4% 10%;
    text-align: left;
}

.experience__info-container{
    width: 50%;
    align-self: center;
}

.experience__box__reverse{
    display: flex;
    justify-content: center;
    gap: 3.5rem;
    padding: 4% 10%;
    flex-direction: row-reverse;
    text-align: right;
}



.experience__img{
    max-width: 600px;
    border-radius: 5px;
    border: var(--color-de-boton) solid 1px;
    
}

.experience__img:hover{
    animation: zoom-img 2s ease-in-out normal;
}

.experience__description{
    display: inline-flex;
    gap: 1rem;
    margin-bottom: 2rem;

}

.experience__button-repo{
    display: inline-block;
    width: 100px;
    text-align: center;
    background-color: var(--color-de-fondo);
    color: var(--color-de-boton);
    border:solid var(--color-de-boton) 2px;
    padding: 1rem;
    border-radius: 5px;
    font-size: 18px ;
}

.experience__button-web{
    display: inline-block;
    width: 100px;
    text-align: center;
    background-color: var(--color-de-boton);
    color: var(--color-de-fondo);
    padding: 1rem;
    border: var(--color-de-boton);
    border-radius: 5px;
    font-size: 18px ;
}

.experience__button-repo:hover{
    background-color: var(--color-de-fondo2) ;
}

.experience__button-web:hover{
    background-color: #237ff8ea;
    color: var(--color-de-fondo2) ;
}

@keyframes zoom-img {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(1.1, 1.1);
    }
    100% {
        transform: scale(1, 1);
    }
}

/*Contacto*/

section.contact{
    background-color: var(--color-de-fondo2) ;
    height: 110vh;
    padding-top: 5rem;
    width: 100vw;

}


.contact__box{
    display: flex;
    padding: 2rem;
    justify-content: center;
    align-items: center;
    font-family: 'Raleway';
}

.contact__left{
    width: 50%;
}

.contact__img{
    width: 500px;
    margin: 2rem;
    border-radius: 5px;
}

.contact__text{
    text-align: left;
    width: 60%;
}

.contact__inputs{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contact__form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
    margin: 1.5rem 0;
}

.contact__title{
    font-size: 2rem;
}

.contact__input{
    align-self: flex-start;
    border: none;
    height: 45px;
    outline-style: none;
    border-radius: 5px;
    width: 100%;
}

.contact__input:not(:placeholder-shown),
.contact__input:focus,
.contact__textarea:not(:placeholder-shown),
.contact__textarea:focus {
    font-size: 1rem;
    top: 0.25rem;
    transition: all 0.25s;
}

.contact__textarea {
    resize: none;
    border: none;
    outline-style: none;
    border-bottom: var(--color-de-boton) ;
    border-radius: 5px;
    width: 100%;
    padding-top: 0.25rem;
}

.contact__textarea::placeholder{
    font-family: 'Raleway';
    padding-top: 10px;
}

.contact__input-container--invalid {
    border: 1px solid var(--color-de-alerta);
    border-radius: 7px;
}

.contact__input-container--invalid {
    color: var(--color-de-alerta);
}

.contact__input-message {
    display: none;
}

.contact__input-container--invalid {
    color: var(--color-de-alerta);
    display: block;
}

.contact__input-message-error{
    color: var(--color-de-alerta);
    display: block;
    padding: 0.5rem;
    font-size: 12px;
    text-align: left;
}

.contact__input-message-success{
    color: var(--color-de-exito);
    display: block;
    padding: 0.5rem;
}

.contact__button{
    display: inline-block;
    width: 200px;
    text-align: center;
    background-color:  var(--color-de-boton);
    color: var(--color-de-fondo2);
    padding: 1rem;
    border-radius: 5px;
    font-size: 18px ;
    border: none;
    cursor: pointer;
}

.contact__button:hover{
    background-color: var(--color-de-fondo2) ;
    border: solid var(--color-de-boton) 1px;
    color: var(--color-de-boton);
}

/*footer*/

section.footer{
    display: flex;
    min-height: 30vh;
    justify-content: center;
    padding-bottom: 1rem;
}

.footer__social{
    margin-top: auto;
}

.footer__social a{
    margin: 1rem;
}



/*Tablet*/
@media screen and (min-width: 768px) and (max-width: 1199px) {

    /* Menú */

    section.menu{
        position: static;
        height: fit-content;
    }

    .menu__header{
        flex-direction: column;
    }

    ul.menu__list{
        justify-content: space-evenly;
    }

    /*title*/

    .title{
        height: 60vh;
    }

    .title__div{
        justify-content: space-between;
    }

    .title__profile{
        position: relative;
        bottom: 30px;
    }

    .title__container{
        max-width: 40%;
        display: flex;
        flex-direction: column;
    }

    .title__bio{
        font-size: 32px;
    }

    .title__subsection{
        font-size: 16px;
    }

    .title__network__item a {
        font-size: 16px;
        display: flex;
        gap: 0.5rem;
        align-items: center;
    }

    /*Sección About*/

    section.about{
        width: 80vw;
        left: 80px;
    }

    /*Sección Hobbies - Skills*/

    section.hobbies, section.skills{
        height: 100vh;
    }

    .hobbies__line, .skills__line{
        flex-wrap: wrap;
    }

    /*Formación Académica*/

    section.academic{
        height: 135vh;
    }
    .academic__courses{
        flex-wrap: wrap;
    }

    /*Experiencia Profesional*/

    .experience__box, .experience__box__reverse{
        flex-direction: column;
        align-items: center;
        margin: 0;
        padding: 0;
        height: 100vh;
        text-align: center;
    }

    /*Contacto*/

    .contact__box{
        align-items: center;
    }

    .contact__img{
        width: 350px;
        margin: 0 auto;
    }

    /*Footer*/

    section.footer{
        min-height: 20vh;
    }
}

/*Mobile*/
@media screen and (min-width: 375px) and (max-width: 767px) {

    /* Menú */

    section.menu{
        position: static;
    }

    img.logo{
        display: none;
    }

    .menu__title{
        font-size: 20px;
    }

    .menu__list__item{
        display: none;
    }

    .show{
        display: block;
        margin: 0;
        padding: 0;
    }


    /*title*/

    .title{
        width: 80vw;
        margin: 0 auto;
    }

    .title__div{
        flex-direction: column;
    }

    .title__profile{
        position: relative;
        bottom: 30px;
        width: 40vw;
    }

    .title__container{
        width: 90%;
        display: flex;
        flex-direction: column;
    }

    .title__bio{
        font-size: 32px;
        width: 100%;
    }

    .title__subsection{
        font-size: 16px;
    }

    .title__network{
        gap: 0;
    }
    .title__network__item a {
        font-size: 14px;
        display: flex;
        gap: 0.5rem;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    /*Sección About*/

    section.about{
        width: 70vw;
        margin: 0 auto;
    }

    /*Sección Hobbies - Skills*/

    section.hobbies, section.skills{
        min-height: 220vmin;
    }

    .hobbies__line, .skills__line{
        flex-wrap: wrap;
    }

    .hobbies__list, .skills__list{
        width: 140px;
    }

    .hobbies__img img, .skills__img img{
        width: 80px;
    }

    /*Formación Académica*/

    section.academic{
        height: 240vh;
    }
    .academic__courses{
        flex-wrap: wrap;
    }

    /*Experiencia Profesional*/

    section.experience{
        height: 500vh;
    }

    .experience__img{
        max-width: 90vw;
    }

    .experience__info-container{
        width: 90vw;
        align-self: center;
    }

    .experience__box, .experience__box__reverse{
        margin: 2rem 0;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    @keyframes zoom-img {
        0% {
            transform: scale(1, 1);
        }
        50% {
            transform: scale(1.05, 1.05);
        }
        100% {
            transform: scale(1, 1);
        }
    }


    /*Contacto*/

    section.contact{
        height: 120vh;
    }

    .contact__form{
        align-items: center;
    }

    .contact__left{
        display: none;
    }

    .contact__text{
        width: 80%;
        text-align: center;
    }

    .contact__button{
        margin: 0 auto;
    }

    section.footer{
        height: 10vh;
    }

}